<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" ovTooltip [toolTip]="'Sucess button'" class="btn btn-success">Success</button>
    </div>
    <div class="col">
      <button type="button" ovTooltip [toolTip]="'Info button'" class="btn btn-info">Info</button>
    </div>
    <div class="col">
      <button type="button" ovTooltip [toolTip]="'Extra button'" class="btn btn-primary">Extra</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
